<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Huevo Apple</title>
</head>

<body>
    <!--    Titulo    -->
    <section class="titulo">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <img src="images/dancingJesus.gif" height="150px"></img>
                    <a class="navbar-brand" href="#">Huevo Apple</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Consultar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cargar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Estadisticas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!--    Busquedas    -->
    <section class="busquedas">
        <div class="container-fluid row">
            <div class="busq col-md-4">
                <form class="input-group mb-3" action="/buscarBDimei" method="post">
                    <span class="input-group-text" id="inputGroup-sizing-default">Buscar por IMEI</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" name="imei"
                        aria-describedby="inputGroup-sizing-default" placeholder="6 últimos digitos">
                    <button type="submit" class="btn btn-primary">→</button>
                </form>
            </div>
            <div class="busq col-md-4">
                <form class="input-group mb-3" action="/buscarBDfecha" method="post">
                    <span class="input-group-text" id="inputGroup-sizing-default">Buscar por Fecha</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" name="fech"
                        aria-describedby="inputGroup-sizing-default">
                    <button type="submit" class="btn btn-primary">→</button>
                </form>
            </div>
            <div class="busq col-md-4">
                <form class="input-group mb-3" action="/buscarBDnombre" method="post">
                <span class="input-group-text" id="inputGroup-sizing-default">Buscar por cliente</span>
                <input type="text" class="form-control" aria-label="Sizing example input" name="nYa"
                    aria-describedby="inputGroup-sizing-default" placeholder="Juan Lopez">
                <button type="submit" class="btn btn-primary">→</button>
                </form>
            </div>
        </div>

    </section>

    <!--    Formularios    -->
    <section class="formularios">
        <div class="container-fluid row">

            <div class="formu col-md-4">
                <h3>Cargar Reparación Hoy</h3>

                <form action="/reparacionHoyCargada" method="post">

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">IMEI</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" name="imei"
                            aria-describedby="inputGroup-sizing-default" placeholder="350000000000000">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo y color</span>
                        <input class="form-control modcol" aria-label="Sizing example input" name ="mc"
                            aria-describedby="inputGroup-sizing-default" list="datalistOptions" id="modcol1"
                            placeholder="6S negro">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cliente</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" name="cli"
                            aria-describedby="inputGroup-sizing-default" placeholder="Pedro Cardozo">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        <input type="email" class="form-control" aria-label="Sizing example input" name="em"
                            aria-describedby="inputGroup-sizing-default" placeholder="pedro_cardozo@gmail.com">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Código</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" name="cod"
                            aria-describedby="inputGroup-sizing-default" placeholder="123456">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" name="nt"
                            aria-describedby="inputGroup-sizing-default" placeholder="2215001234">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reparación</span>
                        <input class="form-control modcol" aria-label="Sizing example input" name="rt"
                            aria-describedby="inputGroup-sizing-default" list="reparaciones" id="modcol2"
                            placeholder="pantalla">
                    </div>

                    <div class="formItem input-group">
                        <span class="input-group-text">Observaciones</span>
                        <textarea class="form-control" aria-label="With textarea" name="obs"></textarea>
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reventa</span>
                        <input class="form-control modcol" aria-label="Sizing example input" name="rv"
                            aria-describedby="inputGroup-sizing-default" list="reventas" id="modcol3"
                            placeholder="Reventa">
                    </div>

                    <div class="formItem form-check">
                        <input class="form-check-input" type="checkbox" value="1" name="gar" id="flexCheckDefault"> 
                        <label class="garantia form-check-label" for="flexCheckDefault">Garantía</label>
                    </div>

                    <button class="formItem but btn btn-primary" type="submit">Cargar</button>

                </form>
            </div>

            <div class="col-md-4"></div>

            <div class="sinCliente formu col-md-4">

                <h3>Cargar Reparación Sin Cliente Hoy</h3>

                <form>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">IMEI</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="350000000000000">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo y color</span>
                        <input class="form-control modcol" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="datalistOptions" id="modcol"
                            placeholder="6S negro">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Código</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="123456">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reparación</span>
                        <input class="form-control modcol" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="reparaciones" id="modcol4"
                            placeholder="pantalla">
                    </div>

                    <div class="formItem input-group">
                        <span class="input-group-text">Observaciones</span>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reventa</span>
                        <input class="form-control modcol" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="reventas" id="modcol5"
                            placeholder="Reventa">
                    </div>

                    <div class="formItem form-check">
                        <input class="form-check-input" type="checkbox" value="" name="1" id="flexCheckDefault">
                        <label class="garantia form-check-label" for="flexCheckDefault">Garantía</label>

                    </div>

                    <button class="formItem but btn btn-primary" type="submit">Cargar</button>

                </form>
            </div>

            <div class="formu below col-md-4">

                <h3>Cargar Reparación</h3>

                <form action="/reparacionCargada" method="post">

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text imeiTitle" id="inputGroup-sizing-default">IMEI</span>
                        <input type="text" class="form-control imeiBox" name="imei" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="350000000000000">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo y color</span>
                        <input class="form-control modcol" name="mc" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="datalistOptions" id="modcol6"
                            placeholder="6S negro">
                        <datalist id="datalistOptions">
                            <option value="iPhone 5C Blanco">
                            <option value="iPhone 5C Amarillo">
                            <option value="iPhone 5C Coral">
                            <option value="iPhone 5C Verde">
                            <option value="iPhone 5C Celeste">
                            <option value="iPhone 5S Negro">
                            <option value="iPhone 5S Gris">
                            <option value="iPhone 5S Dorado">
                            <option value="iPhone 6- Negro">
                            <option value="iPhone 6- Gris">
                            <option value="iPhone 6- Dorado">
                            <option value="iPhone 6 PLUS Negro">
                            <option value="iPhone 6 PLUS Gris">
                            <option value="iPhone 6 PLUS Dorado">
                            <option value="iPhone 6S- Negro">
                            <option value="iPhone 6S- Gris">
                            <option value="iPhone 6S- Dorado">
                            <option value="iPhone 6S- Rosa">
                            <option value="iPhone 6S PLUS Negro">
                            <option value="iPhone 6S PLUS Gris">
                            <option value="iPhone 6S PLUS Dorado">
                            <option value="iPhone 6S PLUS Rosa">
                            <option value="iPhone 7- Negro">
                            <option value="iPhone 7- Gris">
                            <option value="iPhone 7- Dorado">
                            <option value="iPhone 7- Rosa">
                            <option value="iPhone 7 PLUS Negro">
                            <option value="iPhone 7 PLUS Gris">
                            <option value="iPhone 7 PLUS Dorado">
                            <option value="iPhone 7 PLUS Rosa">
                            <option value="iPhone 8- Blanco">
                            <option value="iPhone 8- Negro">
                            <option value="iPhone 8- Dorado">
                            <option value="iPhone 8 PLUS Blanco">
                            <option value="iPhone 8 PLUS Negro">
                            <option value="iPhone 8 PLUS Dorado">
                            <option value="iPhone X- Blanco">
                            <option value="iPhone X- Negro">
                            <option value="iPhone XS- Blanco">
                            <option value="iPhone XS- Negro">
                            <option value="iPhone XS- Dorado">
                            <option value="iPhone XS MAX Blanco">
                            <option value="iPhone XS MAX Negro">
                            <option value="iPhone XS MAX Dorado">
                            <option value="iPhone XR Blanco">
                            <option value="iPhone XR Negro">
                            <option value="iPhone XR Amarillo">
                            <option value="iPhone XR Coral">
                            <option value="iPhone XR Rojo">
                            <option value="iPhone XR Celeste">
                            <option value="iPhone 11- Blanco">
                            <option value="iPhone 11- Negro">
                            <option value="iPhone 11- Amarillo">
                            <option value="iPhone 11- Rojo">
                            <option value="iPhone 11- Verde claro">
                            <option value="iPhone 11- Violeta">
                            <option value="iPhone SE2 Negro">
                            <option value="iPhone 13- Azul">
                            <option value="iPhone 13 PRO- Azul">
                            <option value="iPhone 7 PLUS Rojo">
                            <option value="iPhone 11 PRO MAX Verde oscuro">
                            <option value="iPhone SE1 Negro">
                            <option value="iPhone 13 PRO- Gris">
                            <option value="iPhone SE1 Gris">
                            <option value="iPhone SE1 Dorado">
                            <option value="iPhone 13 PRO- Blanco">
                            <option value="iPhone 8- Rojo">
                            <option value="iPhone SE2 Rojo">
                            <option value="iPhone 11 PRO MAX Negro">
                            <option value="iPhone SE2 Blanco">
                            <option value="iPhone 12- Blanco">
                            <option value="iPhone 12- Negro">
                            <option value="iPhone 12 PRO- Azul">
                            <option value="iPhone SE1 Rosa">
                            <option value="iPhone 12 PRO MAX Gris">
                            <option value="iPhone 8 PLUS Rojo">
                            <option value="iPhone 12 PRO- Negro">
                            <option value="iPhone 11 PRO- Negro">
                            <option value="iPhone 11 PRO MAX Blanco">
                            <option value="iPhone 13- Blanco">
                            <option value="iPhone 12 PRO MAX Dorado">
                            <option value="iPhone 11 PRO- Blanco">
                            <option value="iPhone 13 PRO- Negro">
                            <option value="iPhone 13 PRO MAX Verde">
                            <option value="iPhone 11 PRO MAX Dorado">
                            <option value="iPhone SE3 Blanco">
                            <option value="iPhone 7- Rojo">
                            <option value="iPhone 5- Negro">
                            <option value="iPhone 5- Gris">
                            <option value="iPhone 11 PRO- Dorado">
                            <option value="iPhone 13 PRO- Dorado">
                            <option value="iPhone 14- Azul oscuro">
                            <option value="iPhone 11 PRO- Verde oscuro">
                        </datalist>
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cliente</span>
                        <input type="text" class="form-control" name="cli" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="Juan Arias">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        <input type="email" class="form-control" name="em" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="juan.arias@hotmail.com">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Código</span>
                        <input type="text" class="form-control" name="cod" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="123456">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
                        <input type="text" class="form-control" name="nt" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="2215001234">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reparación</span>
                        <input class="form-control modcol" name="rt" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="reparaciones" id="modcol7"
                            placeholder="pantalla">
                        <datalist id="reparaciones">
                            <option value="Cambio pantalla">
                            <option value="Cambio batería">
                            <option value="Cambio carcasa / módulo trasero">
                            <option value="Cambio cámara trasera">
                            <option value="Cambio flex cámara frontal / Sensor proximidad">
                            <option value="Cambio botón home">
                            <option value="Arreglo de placa otros">
                            <option value="Arreglo de placa audio">
                            <option value="Cambio flex botones">
                            <option value="Cambio dock">
                            <option value="Cambio flex parlante auricular / sensores (face ID)">
                            <option value="Limpieza parlante auricular">
                            <option value="Cambio antenas wifi">
                            <option value="Revisión">
                            <option value="Cambio flex varios">
                            <option value="Cambio vidrio cámara">
                            <option value="Vuelto para atrás">
                            <option value="P. pegada">
                            <option value="Cambio parlante altavoz">
                            <option value="Flasheo">
                            <option value="Cambio bt. con cambio de celda">
                            <option value="Cambio parlante auricular">
                        </datalist>
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
                        <input type="date" class="form-control" name="fe" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>


                    <div class="formItem input-group">
                        <span class="input-group-text">Observaciones</span>
                        <textarea class="form-control" name="obs" aria-label="With textarea"></textarea>
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reventa</span>
                        <input class="form-control modcol" name="rv" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="reventas" id="modcol8"
                            placeholder="Reventa">
                        <datalist id="reventas">
                            <option value="Fede">
                            <option value="Fantech">
                            <option value="Guido">
                            <option value="Santi">
                            <option value="Martín">
                            <option value="Jona">
                            <option value="Varios">
                            <option value="Manu Lokura">
                        </datalist>
                    </div>



                    <div class="formItem form-check">
                        <input class="form-check-input" name="gar" type="checkbox" value="1" id="flexCheckDefault">
                        <label class="garantia form-check-label" for="flexCheckDefault">Garantía</label>
                    </div>

                    <button class="formItem but btn btn-primary" type="submit">Cargar</button>

                </form>
            </div>

            <div class="col-md-4"></div>


            <div class="sinCliente below formu col-md-4">

                <h3>Cargar Reparación Sin Cliente</h3>

                <form>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">IMEI</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="350000000000000">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo y color</span>
                        <input class="form-control modcol" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="datalistOptions" id="modcol9"
                            placeholder="6S negro">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Código</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="123456">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reparación</span>
                        <input class="form-control modcol" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="reparaciones" id="modcol10"
                            placeholder="pantalla">
                    </div>

                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
                        <input type="date" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="formItem input-group">
                        <span class="input-group-text">Observaciones</span>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>


                    <div class="formItem input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Reventa</span>
                        <input class="form-control modcol" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" list="reventas" id="modcol11"
                            placeholder="Reventa">
                    </div>

                    <div class="formItem form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="garantia form-check-label" for="flexCheckDefault">Garantía</label>
                    </div>

                    <button class="formItem but btn btn-primary" type="submit">Cargar</button>

                </form>
            </div>

        </div>
    </section>


    <!--    Footer    -->
    <section class="footer">
        <p class="footerText">Copyright 2023 Huevo Programación</p>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="scripts/index.js" charset="utf-8">
    </script>
</body>

</html>