<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Huevo Apple</title>
</head>
<body>

    <header class="container-fluid row">
        <div class="col-lg-3 cont-fecha">
            <p class="fecha">10/07/2023</p>
        </div>
        <div class="col-lg-6">
            <h1 class="titulo">Huevo Apple</h1>
            <h2 class="subtitulo">Base de Datos</h2>
        </div>
        <div class="col-lg-3">
            <div class="contNum">
                <p class="numero">5000</p>
                <p class="tituloNumero">Clientes</p>
            </div>
            <div class="contNum">
                <p class="numero">6000</p>
                <p class="tituloNumero">Teléfonos</p>
            </div>
        </div>
    </header>
    
    <section class="tarjetas container-fluid">
        <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consultas</h5>
                        <p class="card-text">Buscar en la base de datos</p>
                        <a href="#" class="btn btn-primary">Por IMEI</a>
                        <a href="#" class="btn btn-primary">Por Fecha</a>
                        <a href="#" class="btn btn-primary">Por Cliente</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Entradas</h5>
                        <p class="card-text">Ingrese nuevas reparaciones</p>
                        <a href="#" class="btn btn-primary">Reparación Hoy</a>
                        <a href="#" class="btn btn-primary">Reparación sin cliente Hoy</a>
                        <a href="#" class="btn btn-primary">Ingresar Reparación</a>
                        <a href="#" class="btn btn-primary">Ingresar Reparación sin cliente</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Estadisticas</h5>
                        <p class="card-text">Información relacionada</p>
                        <a href="#" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid">
        <p>Copyright 2023 Diego Levy</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    </body>
</body>
</html>