.container-fluid
{
    padding: 3% 6%;
}

.navbar-brand
{
    font-size: 5rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.menu
{
    position: absolute;
    right: 20%;
}

.nav-item
{
    padding-left: 10%;
}

.busquedas 
{
    padding-top: 5%;
    padding-bottom: 5%;
}

.formu, .banner
{
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 2%;
}

.infor1
{
    text-align: right;
}

#modcol1, #modcol2, #modcol3, #modcol4, #modcol5, #modcol6, #modcol7, #modcol8, #modcol9, #modcol10, #modcol11
{
    border-radius: 0 5px 5px 0;
}

.formItem
{
    margin-top: 3%;
}

.below
{
    margin-top: 5%;
}

.infor
{
    margin-top: 2%;
}

.botonVer
{
    margin-top: 1%;
}

.footer
{
    background-color: lightgrey;
    height: 5vh;
}
.footerText
{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 0.5%;
    margin-bottom: 0;
}




