.container-fluid
{
    padding: 3% 6%;
}

.navbar-brand
{
    font-size: 3rem;
}

.menu
{
    position: absolute;
    right: 20%;
}

.nav-item
{
    padding-left: 10%;
}

.busquedas 
{
    padding-top: 5%;
    padding-bottom: 5%;
}

.formu
{
    border: 2px solid lightgray;
    border-radius: 7px;
    padding: 2%;
}

#modcol1, #modcol2, #modcol3, #modcol4, #modcol5, #modcol6, #modcol7, #modcol8, #modcol9, #modcol10, #modcol11
{
    border-radius: 0 5px 5px 0;
}

.formItem
{
    margin-top: 3%;
}

.below
{
    margin-top: 5%;
}




